@use '../../../../scss/journalia-variables.scss' as *;
@use '../../../../scss/journalia-mixins.scss' as *;

#date-switcher-arrows {
  .date-switcher-arrow {
    svg {
      height: 1.5rem;
      width: 1.5rem;
      color: $light-bistre;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: $light-copper;
        cursor: pointer;
      }
    }
  }
}
