@use '../../../../scss/journalia-variables.scss' as *;
@use '../../../../scss/journalia-mixins.scss' as *;

#plus-button {
  color: $lighter-copper;
  background-color: $barn-red;
  border-radius: 50%;
  box-shadow: 0 0 3px $bistre;

  svg {
    padding: .25rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}
