@use '../../../../scss/journalia-variables.scss' as *;
@use '../../../../scss/journalia-mixins.scss' as *;

#side-menu {
    background-color: $lighter-copper;

    height:100vh;
    padding-top: 5rem;
}