@use '../scss/journalia-variables.scss' as *;
@use '../scss/bootstrap-config.scss';
@use '../scss/journalia-mixins.scss' as *;

//


body {
  background-image: $body-bg-landscape;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: $primary-font;
}

#main-container {
  display: flex;

  flex-direction: column;

  position: relative;
}

.page-container {
  background-color: adjust-color($cultured, $alpha: -0.2);

  @include flex($dir: column, $align-items: center);

  position: relative;
  height: 100vh;
}

.logo-sm {
  svg {
    @include rectangle(40px);
  }
}

.large-first-letter{
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  #background-img {
    background-image: $body-bg-portrait;
  }
}
