@use '../scss/journalia-variables.scss' as *;
@use '../scss/journalia-mixins.scss' as *;

@use './layout/scss/Logo.scss';

//
body {
  background-image: $body-bg-landscape;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: $primary-font;

}


#main-container {
  display: flex;

  flex-direction: column;

}

.page-container {
  background-color: adjust-color($cultured, $alpha: -0.2);
  @include flex($dir: column, $align-items: center);

  min-height: 70vh;
}

.large-first-letter{
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  #background-img {
    background-image: $body-bg-portrait;
  }
}
