@use '../../../../scss/journalia-mixins.scss' as *;
@use '../../../../scss/journalia-variables.scss' as *;

#user-auth-form {
    border-bottom: 1px solid $light-bistre;

    input {
        border: 1px solid $lighter-copper;
    }
    
    .form-control,
    .form-label,
    .form-link {
        width: 100%;
        font-family: $secondary-font;
    }
}
