@use '../../../scss/journalia-variables.scss' as *;

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none !important;
  outline-style: none;
}
.dropdown {
  color: $cultured;

  font-family: $primary-font;

  .dropdown-menu {
    background-color: $barn-red;
    padding: 0;
    .active {
      background-color: $light-barn-red;
      color: $cultured;
    }
  }

  .dropdown-item {
    background-color: $barn-red;
    border-radius: 5px;
    padding: 10px;

    color: $cultured;

    &:hover {
      background-color: $light-barn-red;
    }
  }
}
