@use '../../../../scss/journalia-variables.scss' as *;
@use '../../../../scss/journalia-mixins.scss' as *;

#date-display {
    background-color: $lighter-copper;
    z-index: 60;
    left: 0;

    .pre-display {
        font-size: 0.8rem;
    }

    .main-display {
        font-size: 1.2rem;
    }

    .post-display {
        font-size: 0.8rem;
    }

    .date-switcher-arrow {
        svg {
            height: 1.5rem;
            width: 1.5rem;
            color: $light-copper;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: $lighter-bistre;
                cursor: pointer;
            }
        }
    }
}
