@use '../../../../scss/journalia-mixins.scss' as *;
@use '../../../../scss/journalia-variables.scss' as *;

#login-form {
    border-bottom: 1px solid $light-bistre;

    .form-control {
        input{

            border: 4px solid $copper;
        }
    }
    
    .form-control, .form-label, .form-link {
        width: 100%;
        font-family: $primary-font;
    }

}
