@use '../../../../scss/journalia-variables.scss' as *;
@use '../../../../scss/journalia-mixins.scss' as *;

.calendar-view-option {
  background-color: $light-copper;
  color: $bistre;
 
  padding: 5px 7px;

  transition: all 0.1s ease-in-out;

  &:first-of-type {
    @include border-radius(5px 0 0 5px);
  }
  &:last-of-type {
    @include border-radius(0 5px 5px 0);
  }

  &:hover {
    background-color: $copper;
    cursor: pointer;
  }

  &.selected {
    background-color: $copper;
  }
}

.dropdown {
  color: $cultured;

  font-family: $primary-font;

  .dropdown-menu {
    background-color: $barn-red;
    padding: 0;
    .active {
      background-color: $light-barn-red;
      color: $cultured;
    }
  }

  .dropdown-item {
    background-color: $barn-red;
    border-radius: 5px;
    padding: 10px;

    color: $cultured;

    &:hover {
      background-color: $light-barn-red;
    }
  }
}
